/* Layout */
body {
    background-color: ghostwhite;
    font-size: 20px;
    color: #383838;
}

#backgroundcontainer {
    position: fixed;
    z-index: -1;
    top: 0;
}

#backgroundimg {
    height: 100%;
    opacity: 0.6;
}

/* Navbar */
.icon-bar {
    background-color: grey;
}

.navbar {
    border-bottom: 3px solid darkgrey;
    background-color: ghostwhite;
}

.navbar-brand {
    padding: 5px;
}

.navbar-brand > img {
    height: 40px;
}

#pokemonlogo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%,0);
}

#pokemonlogo > img {
    height: 70px;
}
#pokemonNavList {
    margin-bottom: 0;
}

#pokemonNavList > li > a {
    color: grey;
    font-weight: bold;
}

@media (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
    #pokemonlogo {
        display: block;
        top: 0;
        left: 0;
        transform: translate(0,0);
    }
    #pokemonlogo > img {
        height: 50px;
    }
}

/* Main viewport */
#main_container {
    margin-top: 100px;
}

/* Home Page */
#welcome_image {
    width: 80%;
    margin: 0 10%;
}

@media (max-width: 767px) {
    #welcome_image {
        width: 100%;
        margin: 0;
    }
}

/* About Page */
.aboutinfo {
    display: flex;
    align-items: center;
}

.aboutpics {
    width: 250px;
}

#aboutpic1 {
    margin-left: 20px;
}

#aboutpic2 {
    margin-right: 20px;
}

@media (max-width: 767px) {
    .aboutinfo {
        display: block;
    }
    .aboutfigures {
        text-align: center;
    }
    #aboutpic1 {
        margin: 0 0 10px 0;
    }
    #aboutpic2 {
        display: none;
    }
}

/* Charts Page */
.chart-column {
    padding: 0;
}

.chart-container {
    font-size: 26px;
    color: dimgray;
    background-color: rgba(248,248,255,0.5);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
}
div.dc-chart {
    float: none;
}

.nav-pills > li {
    float: none;
    display: inline-block;
    font-size: 14px;
}

.nav-pills > li > a {
    color: #337ab7;
    background-color: #ffd96f;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #ffd96f;
    background-color: #337ab7;
}

.tab-content {
    font-size: 12px;
}

.totals {
    font-size: 26px;
}

.totals > .chart-stage, .chart-title, #total-pokemon, #tour > h1, #tour > button {
    display: inline-block;
}

#tour {
    margin: 0 auto;
    width: 50%;
}

#tour > button {
    font-size: 24px;
}

#tour > h1 {
    margin: 0 20px 0 0;
    font-size: 28px;
}

@media (max-width: 767px) {
    .chart-container {
        margin: 10px 0;
        padding: 10px 0;
    }
    .chart-column {
        padding: 0;
        margin: 0;
    }
    #tour {
        width: 100%;
    }
}

