<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Unofficial Charts</title>
    <!-- Add Bootstrap and DC CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.6/dc.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Add my own CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/pokemon.css') }}">
</head>
<body>
    <!-- Create navigation bar -->
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Nintendo Logo -->
                <a class="navbar-brand" href="https://www.nintendo.co.uk/index.html"><img src="{{ url_for ('static', filename='img/nintendologo.svg') }}" alt="Nintendo Logo"/></a>

                <!-- Collapsable menu for mobile devices -->
				<button type="button" class="navbar-toggle" id="pokemonNavButton" data-toggle="collapse" data-target="#pokemonNavList">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
            </div>

            <!-- Pokemon Logo -->
            <a id="pokemonlogo" href="/"><img src="{{ url_for ('static', filename='img/pokemonlogo.svg') }}"></a>

            <!-- Menu -->
            <ul id="pokemonNavList" class="nav navbar-nav navbar-right collapse navbar-collapse">
                 <li><a href="/">Home</a></li>
                 <li><a href="/about">About</a></li>
                 <li><a href="/charts">Charts</a></li>
            </ul>
        </div>
    </nav>

    <figure id="backgroundcontainer">
        <img id="backgroundimg" src="{{ url_for ('static', filename='img/background.jpg') }}">
    </figure>

    <section id="main_container" class="container">
        <!-- Where content from pages is injected -->
        {% block content %}
        {% endblock %}
    </section>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.5/crossfilter.js"></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js'></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.0/dc.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-queue/1.0.7/d3-queue.js"></script>
    <script type="text/javascript" src="{{ url_for ('static', filename='js/graphs.js') }}"></script>
</body>
</html>